<StackLayout class="p-20" width="95%" height="1200px" style="background-color: #90cdfa">

    <Label class="h1" text="Select an item"></Label>

    <ScrollableView row="5" orientation=vertical height="700">
        <StackLayout>
            <ListView [items]="prompts" height="500px">
                <ng-template let-item="item" let-i="index">
                    <GridLayout height="60">
                        <Label [text]="item" (tap)="onSelectTapped(item);" style="background-color: palegreen;"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </ScrollableView>

    <Label class="h1" [text]="simpleText"></Label>

    <Button (tap)="onCancelTapped();" text="Cancel" class="-primary"></Button>

</StackLayout>
